# macOS
.DS_Store

# Xcode - build & derived data
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode - user-specific state
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
Packages/
